<h3>Log In</h3>
Don't have an account, <%= link_to "Create Account", users_new_path %>
<br>
<br>
<div>
  <div>
    <%= form_tag sessions_path do %>
      <div>
        <div>
          <%= text_field_tag :email, params[:email], placeholder: "Email" %>
        </div>
      </div>

      <div>
        <div>
          <%= password_field_tag :password %>
        </div>
      </div>
      
      <div><%= submit_tag "Log In", class: "btn btn-success full-width" %></div>
    <% end %>
  </div>
</div>