<%= simple_form_for @employee, :url => employee_path, html: { class: 'form-horizontal', multipart: true } do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row">
    <label class="col-2 col-form-label">First Name</label>
    <div class="col-10">
    <%= f.input :first_name, wrapper: false, label: false, input_html: {class: "form-control" }%>
  </div>
  </div>
    <div class="form-group row">
    <label class="col-2 col-form-label">Last Name</label>
    <div class="col-10">
    <%= f.input :last_name, wrapper: false, label: false, input_html: {class: "form-control" }%>
  </div>
  </div>
    <div class="form-group row">
    <label class="col-2 col-form-label">Username</label>
    <div class="col-10">
    <%= f.input :username, wrapper: false, label: false, input_html: {class: "form-control" }%>
  </div>
  </div>
    <div class="form-group row">
    <label class="col-2 col-form-label">Email Address</label>
    <div class="col-10">
    <%= f.input :email, wrapper: false, label: false, input_html: {class: "form-control" }%>
  </div>
  </div>
    <div class="form-group row">
    <label class="col-2 col-form-label">Phone Number</label>
    <div class="col-10">
    <%= f.input :phone, wrapper: false, label: false, input_html: {class: "form-control" }%>
  </div>
  </div>
    <div class="form-group row">
    <label class="col-2 col-form-label">Role</label>
    <div class="col-10">
   <%= f.input :role, collection: User::ROLES, wrapper: false, label: false, input_html: {class: "form-control" }%>
  </div>
  </div>
  <p><%= f.submit nil, :class => 'btn btn-success full-width' %></p>
<% end %>