<%= render partial: "partials/customer_nav" %>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<div class="row">
<div class="card-deck">
<% @items.each do |item| %>
  	<div class="card" style="width: 20rem; margin-bottom: 20px;">
	  <% if item.picture_url.nil? %>
	  <%= image_tag "no_image.svg", class: "card-img-top" %>
	  <% else %>
	  <%= image_tag item.picture_url, class: "card-img-top" %>
	  <% end %>
	  <div class="card-block">
	    <h5 class="card-title"><%= item.name %></h5>
	    <p class="card-text"><%= truncate(item.description, length: 100) %></p>
	    <div class="btn-group">
	    <%= link_to "More Information", details_path(item), remote: true, class: "btn btn-success" %><br>
	    <%= link_to "Add to Cart", add_to_cart_path(item), remote: true, class: "btn btn-primary" %>
	    </div>
	  </div>
	</div>
<% end %>
</div>
</div>
</div>