<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to "A&M Chess Store", home_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Home", home_path, class: "nav-link" %>
      </li>
    <li class="nav-item">
      <%= link_to "Store", stores_index_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Log In", login_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Cart", stores_cart_path, class: "nav-link", remote: true %>
    </li>
    </ul>
  </div>
</nav>