<%= simple_form_for @user, html: { class: 'form-horizontal', multipart: true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.input :username, input_html: {placeholder: "Username"}, label: false %>
  </p>
  <p>
    <%= f.input :email, input_html: {placeholder: "Email"}, label: false %>
  </p>
  <p>
    <%= f.input :password, input_html: {placeholder: "Password"}, label: false %>
  </p>
  <p>
    <%= f.input :password_confirmation, input_html: {placeholder: "Password Confirmation"}, label: false %>
  </p>
  <p><%= f.submit nil, :class => 'btn btn-success full-width' %></p>
<% end %>