<%= simple_form_for @user, html: { class: 'form-horizontal', multipart: true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row">
  <label class="col-2 col-form-label">First Name</label>
  <div class="col-10">
    <%= f.input :first_name, label: false, wrapper: false, input_html: {class: "form-control"} %>
  </div>
  </div>
    <div class="form-group row">
    <label class="col-2 col-form-label">Last Name</label>
    <div class="col-10">
    <%= f.input :last_name, label: false, wrapper: false, input_html: {class: "form-control"} %>
  </div>
  </div>
  <div class="form-group row">
  <label class="col-2 col-form-label">Username</label>
  <div class="col-10">
    <%= f.input :username, label: false, wrapper: false, input_html: {class: "form-control"} %>
  </div>
  </div>
  <div class="form-group row">
  <label class="col-2 col-form-label">Email</label>
  <div class="col-10">
    <%= f.input :email, label: false, wrapper: false, input_html: {class: "form-control"} %>
  </div>
  </div>
  <div class="form-group row">
  <label class="col-2 col-form-label">Phone</label>
  <div class="col-10">
    <%= f.input :phone, label: false, wrapper: false, input_html: {class: "form-control"} %>
  </div>
  </div>
  <p><%= f.submit nil, :class => 'btn btn-success full-width' %></p>
<% end %>