<%= simple_form_for @item_price, remote: true, html: { class: 'form-horizontal', multipart: true } do |f| %>
  <fieldset>
    <%= f.input :item_id, :as => :hidden, input_html: {value: @item.id} %>
    <%= f.input :category, collection: ItemPrice::CATEGORIES,  input_html: {placeholder: "name"}, :selected => "Select", label: false%>
    <%= f.input :price, label: false, placeholder: "Price"%>

    <div class="form-actions">
      <%= f.submit "Change Price", :class => 'btn btn-success full-width' %><br><br>
    </div>
  </fieldset>
<% end %>