<% if @purchases.empty? %>
  <h4>No purchases at this time.</h4>
<% else %>
  <table class="table table-striped">
    <thead class="bg-primary text-white">
      <tr>
        <th width="225">Item</th>
        <th width="150">Quantity</th>
        <th width="150">Date</th>
      </tr>
    </thead>
    <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td><%= link_to purchase.item.name, item_path(purchase.item) %></td>
          <td><%= purchase.quantity %></td>
          <td><%= purchase.date.strftime('%m/%d/%y') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @purchases %>
    </div>
    <div class="page_buttons">
      <%= will_paginate @purchases, :container => false %>
    </div>
  </div>
<% end %>
<p>&nbsp;</p>