<section id="main">
  <%= link_to( image_tag("logo.png")) %>
  <nav class="home-nav">
  <ul id="home_nav">
      <li><%= link_to "About", about_path , :id=>'about_button' %></li>
      <li><%= link_to "Store",  stores_index_path %></li>
      <li><%= link_to "Contact",  contact_path %></li>
      <li><%= link_to "Privacy", privacy_path %></li>
          <li class="nav-item">
      <%= link_to "Cart", stores_cart_path, class: "nav-link", remote: true %>
    </li>
    </ul>
  </nav>
</section>
<section id="about">
  <div id="about_left" class="about_left">    
    <%= link_to( image_tag("about.png")) %>
  </div>
  <div id="about_right" class="about_right">
    <h1>About</h1>
    <h3>Who we are?</h3>
    <p>The Chess Warehouse believes in the importance of scholastic chess.  To help support 
        scholastic chess, we make chess equipment available to schools and other educational 
        organizations at wholesale prices.  This chess equipment is only available to schools; 
        we do not sell to individuals.</p>
    <h3>What we do?</h3>
    <p>In the future, will you be able to proactively right-size enterprises in your business? Corporate user experiences effectively enable holistic brands for our paradigm shifts. Going forward, our next-generation proposition will deliver value to bandwidths. Customer-focused big datas intelligently enable company-wide innovations for our clouds.</p>
    <h3>Where stuff?</h3>
    <p>We use our proactive verticals to dynamically manage our enterprise expectations. Our Senior Deliverable solution offers platforms a suite of mobile offerings. Our business facilitates organic growths to conservatively and ethically connect our actionable market focus. Efficiencies will come from reliably deep-diving our capabilities.</p>
    <h3>Who we are?</h3>
    <p>In the diversity space, industry is proactively integrating its knowledge transfer capabilities. Our Mission Critical Best Practice solution offers step-changes a suite of long-term offerings. Virtually monetizing iteratively immersive drivers is crucial to our end-to-end visibility. Going forward, our best-in-class stakeholder will deliver value to industry leaders.</p>
    <h3>What we do?</h3>
    <p>Is your step-change prepared for end-to-end cloud growth? We thrive because of our competitive best practice and value-added executive search culture. So we can hit the ground running, we will be globally leveraging every stack in our space. Our user experience development lifecycle enables corporate, mission critical organic growths.</p>
    <h3>Where stuff?</h3>
    <p>In the industry leader space, industry is virtually calibrating its world-class bandwidths. Key players will take ownership of their stakeholders by effectively incentivizing holistic enterprises. We thrive because of our mobile emerging market and long-term stand-up culture. Going forward, our actionable platform will deliver value to diversities.</p>
    <h3>Who we are?</h3>
    <p>So we can hit the ground running, we will be intelligently impacting every core asset in our space. Our game changer development lifecycle enables company-wide, customer-focused siloes. Best-in-class prince2 practitioners proactively enable immersive capabilities for our standard setters. It's critical that we give 110% when dynamically deep-diving core competencies.</p>
  </div>
</section>
<section id="store">
  <div id="store_left" class="store_left">
    <%= link_to( image_tag("store_resized.png")) %>
    <ul>
      <li><a href="">Boards</a></li>
      <li>/</li>
      <li><a href="">Pieces</a></li>
      <li>/</li>
      <li><a href="">Clocks</a></li>
      <li>/</li>
      <li><a href="">Supplies</a></li>
    </ul>
  </div>
  <div class="store_right">
    <div id="store_right" class="store_right_1">
    </div>
    <div class="store_right_2">
    </div>
  </div>
</section>
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <br>
        <ul class="list-group" style="color: black">
          <li class="list-group-item similar_items">Contact Information:</li>
          <li class="list-group-item"><span class="fa fa-phone"></span>&nbsp;&nbsp;818 203-7098</li>
          <li class="list-group-item"><span class="fa fa-envelope"></span>&nbsp;&nbsp;questions@amchess.com</li>
          <li class="list-group-item"><span class="fa fa-fax"></span>&nbsp;&nbsp;818 203-7097</li>
          <li class="list-group-item"><span class="fa fa-facebook"></span>&nbsp;&nbsp;<a href="404.html">www.facebook.com/amchess</a></li>
          <li class="list-group-item"><span class="fa fa-twitter"></span>&nbsp;&nbsp;<a href="404.html">www.twitter.com/amchess</a></li>
          <li class="list-group-item"><span class="fa fa-instagram"></span>&nbsp;&nbsp;<a href="404.html">www.instagram.com/amchess</a></li>
          <li class="list-group-item"><span class="fa fa-flickr"></span>&nbsp;&nbsp;<a href="404.html">www.flickr.com/amchess</a></li>
          <li class="list-group-item"><span class="fa fa-github"></span>&nbsp;&nbsp;<a href="404.html">www.github.com/amchess</a></li>
        </ul>
      </div>
      <div class="col-6">
        <br>
        <ul class="list-group" style="color: black">
          <li class="list-group-item similar_items">Warehouse Location</li>
          <li class="list-group-item" style="margin: 0; padding: 25px;"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.4729514945034!2d-79.94744606554117!3d40.442667987643254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f22118126fd9%3A0xde85298739c61fd4!2sWean+Hall%2C+Pittsburgh%2C+PA+15213!5e0!3m2!1sen!2sus!4v1489973469160" frameborder="0" style="border:0; width: 100%; height: 342px; margin: 0; padding: 0;" allowfullscreen></iframe></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <br>
</section>
<section id="privacy">
  <div class="container">
    <div class="row">
      <div class="col-12" style="text-align: center;">
        <br>
        <h2 style="font-weight: 200;">A&amp;M Privacy Policy</h2>
        <h5 style="font-weight: 200;">The A&amp;M Privacy Policy was last updated on March 19, 2017.</h5>
        <hr style="border-color: white;">
        <p style="font-weight: 200">Your privacy is important to A&amp;M and always has been. So we've developed a privacy policy that cover how we collect, use, disclose, transfer, and store your information. Please take a moment to familiarize yourself with our privacy practices and let us know if you have any questions.</p>
      </div>
    </div>
  </div>
</section>
<section id="footer">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-sm-3">
        <ul>
          <li>PRODUCT</li>
          <li><br></li>
          <li>Boards</li>
          <li>Pieces</li>
          <li>Clocks</li>
          <li>Supplies</li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul>
          <li>SITE MAP</li>
          <li><br></li>
          <li>About</li>
          <li>Store</li>
          <li>Contact</li>
          <li>Privacy</li>
        </ul>
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
        <ul>
          <li>WEBMASTER: Kenny Cohen</li>
          <li><br></li>
          <li><a href="http://www.kicohen.com"><span class="fa fa-globe"></span>&nbsp;&nbsp;kicohen.com</a></li>
          <li><a href="mailto:kicohen@andrew.cmu.edu"><span class="fa fa-envelope"></span>&nbsp;&nbsp;kicohen@andrew.cmu.edu</a></li>
          <li><a href="https://github.com/kicohen"><span class="fa fa-github"></span>&nbsp;&nbsp;Github</a></li>
          <li><a href="https://facebook.com/kicohen"><span class="fa fa-facebook"></span>&nbsp;&nbsp;Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
</section>
