<% unless @orders.nil? || @orders.empty? %> 
  <table class="table">
      <thead class="bg-primary text-white">
        <tr>
          <th>User</th>
          <th>School</th>
          <th>Total</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <% @orders.each do |order| %>
        <tbody id="<%= order.id %>">
        <tr class="bg-faded">
          <td><%= order.user.name %></td>
          <td><%= link_to order.school.name, school_path(order.school) %></td>
          <td><%= number_to_currency order.grand_total %></td>
          <td><%= order.date %></td>
          <td><span class="badge badge-success">+</span></td>
        </tr>
        </tbody>
        <tbody class="hide-table">
            <tr class="">
              <th colspan="2">Item</th>
              <th>Quantity</th>
              <th>Shipped On</th>
              <th></th>
            </tr>
        <% order.order_items.each do |item| %>
          <tr>
            <td colspan="2"><%= link_to item.item.name, item_path(item.item) %></td>
            <td><%= item.quantity %></td>
            <% if item.shipped_on.nil? %>
              <% if current_user.role? :manager or current_user.role? :customer %>
                <td>Not Shipped</td>
              <% else %>
                <td>
                  <div id="<%= item.id %>">
                    <%= link_to(mark_item_as_shipped_path(order_item_id: item.id), id: item.id, remote: true) do %>
                      Mark as Shipped
                    <% end %>
                  </div>
                </td>
              <% end %>
            <% else %>
            <td><%= item.shipped_on %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      <% end %>
  </table>
<br>
<br>
<% end %>

<script type="text/javascript">
  var tbodys = document.getElementsByTagName('tbody');
  var buttons = document.getElementsByClassName('badge');
  for (var i = 0; i < buttons.length; i++){
    buttons[i].addEventListener("click", showNextRow, false);
  }

  function showNextRow(e){
    var tr;
    for (var i = 0; i <tbodys.length; i++){
      if (tbodys[i].id == e.target.parentElement.parentElement.parentElement.id){
        tr = i;
        break;
      }
    }
    console.log(tr);
    toggleOrderItems(tr+1, e);
  }

  function toggleOrderItems(tr, e){
    if (tbodys[tr].className == ''){
      tbodys[tr].className = 'hide-table';
      e.target.classList = ['badge badge-success'];
      e.target.textContent = "+";
      console.log(e.target.innnerHTML);
    } else {
      tbodys[tr].className = '';
      e.target.classList = ['badge badge-danger'];
      e.target.textContent = "-";
      console.log(e.target.innnerHTML);
    }
  }

</script>