<div class="row">
  <div class="container col-md-7">
  	<div class="jumbotron">
    	<%= render :partial => "item_details" %>
  	</div>
    
<%= render :partial => "similar_items" unless @similar_items.empty?%>
  
  </div>
  <div class="container col-md-5">
    <%= render :partial => "price_history" %>
  	<br>
  	<div class="container">
  	  <div class="jumbotron less-padding">
  	  	<!-- Placeholder for actual form -->
  		<%= render :partial => "item_prices/ajax_form" %>
  	  </div>
  	</div>
  </div>
</div>

</div>

<!-- Add buttons to list all, edit project or destroy object -->
<%= render partial: "partials/object_options", locals: {model_name: "item", object: @item}  %>