<div id="modalContent">
<div id="item_details" class="container">
<div>
  <% unless @item.picture.nil? %>
  <p><%= image_tag @item.picture_url, class: "item-picture" %></p>
<% end %>
</div>
<p>
  <%= @item.description %>
</p>

<p>
  <b>Price</b>: <%= @item.current_price.nil? ? 'N/A' : number_to_currency(@item.current_price) %>
</p>

<p>
  <b>Category</b>: <%= @item.category.capitalize %>
</p>

<p>
  <b>Color</b>: <%= @item.color.nil? ? 'N/A' : @item.color %>
</p>

<p>
  <b>Total weight</b>: <%= @item.weight.nil? ? 'N/A' : @item.weight %> lbs.
</p>

</div>
</div>