<div id="item_details">
<div>
  <div>
    <h3><%= @item.name %></h3>
  </div>
  <div>
    <%= image_tag 'img_not_available.png' %>
  </div>
</div>

<p>
  <b>Description</b>: <%= @item.description %>
</p>

<p>
  <b>Price</b>: <%= @item.current_price.nil? ? 'N/A' : number_to_currency(@item.current_price) %>
</p>

<p>
  <b>Category</b>: <%= @item.category.capitalize %>
</p>

<p>
  <b>Color</b>: <%= @item.color.nil? ? 'N/A' : @item.color %>
</p>

<p>
  <b>Total weight</b>: <%= @item.weight.nil? ? 'N/A' : @item.weight %> lbs.
</p>

</div>