<%= simple_form_for @item, html: { class: 'form-horizontal', multipart: true } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Item</legend>

    <%= f.input :name, input_html: {placeholder: "Name"}, label:false %>
    <%= f.input :description, input_html: { :rows => 4, placeholder: "Description" }, label: false %>
    <%= f.input :category, collection: Item::SELECT_OPTIONS, include_blank: true, input_html: {placeholder: "name"}, :selected => "Select", label: false%>
    <%= f.input :color, input_html: {placeholder: "Color"}, label: false %>
    <%= f.input :weight, input_html: {placeholder: "Weight", type: 'text', onfocus: "this.type='number';", onfocusout: "this.type='text';"}, label: false %>
    <% if controller.action_name == "new" %>
      <%= f.input :inventory_level, input_html: {placeholder: "Inventory Level", type: 'text', onfocus: "this.type='number';", onfocusout: "this.type='text';"}, label: false  %>
    <% end %>
    <%= f.input :reorder_level, input_html: {placeholder: "Reorder Level", type: 'text', onfocus: "this.type='number';", onfocusout: "this.type='text';"}, label: false  %>
    <%= f.input :active%>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-success full-width' %>
      <br>
      <br>
      <%= link_to 'Cancel', items_path, :class => 'btn btn-danger full-width' %>
    </div>
  </fieldset>
<% end %>