<%= simple_form_for @item, html: { class: 'form-horizontal', multipart: true } do |f| %>
<fieldset>
  <legend><%= controller.action_name.capitalize %> Item</legend>
  <div class="form-group row">
    <label class="col-2 col-form-label">Name</label>
    <div class="col-10">
      <%= f.input :name, wrapper: false, label: false, input_html: {class: "form-control" }%>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Description</label>
    <div class="col-10">
      <%= f.input :description, input_html: { :rows => 4}, wrapper: false, label: false, input_html: {class: "form-control" } %>
    </div>
  <% if controller.action_name == "edit" %>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Category</label>
    <div class="col-10">
      <%= f.input :category, collection: Item::CATEGORIES, wrapper: false, label: false, input_html: {class: "form-control" } %>
    </div>
  <% else %>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Category</label>
    <div class="col-10">
      <%= f.input :category, collection: Item::CATEGORIES, :selected => "Select", wrapper: false, label: false, input_html: {class: "form-control" } %>
    </div>
  <% end %>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Color</label>
    <div class="col-10">
      <%= f.input :color, wrapper: false, label: false, input_html: {class: "form-control" }%>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Weight</label>
    <div class="col-10">
      <%= f.input :weight, wrapper: false, label: false, input_html: {class: "form-control" } %>
    </div>
  </div>
  <% if controller.action_name == "new" %>
    <div class="form-group row">
      <label class="col-2 col-form-label">Inventory Level</label>
      <div class="col-10">
        <%= f.input :inventory_level, wrapper: false, label: false, input_html: {class: "form-control" }%>
      </div>
    </div>
  <% end %>
  <div class="form-group row">
    <label class="col-2 col-form-label">Reorder Level</label>
    <div class="col-10">
      <%= f.input :reorder_level, wrapper: false, label: false, input_html: {class: "form-control" } %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Picture</label>
    <div class="col-10">
    <%= f.file_field :picture, wrapper: false, label: false, input_html: {class: "form-control" } %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Active</label>
    <div class="col-10">
      &nbsp;&nbsp;&nbsp;&nbsp;<%= f.input :active, wrapper: false, label: false, input_html: {class: "form-check-input" }%>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-success full-width' %>
  </div>
</fieldset>
<% end %>