<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta Data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  <meta name="description" content="Alex and Mark Chess Store Information Systems Application Design and Development">
  <meta name="author" content="Kenny Cohen">
  <title>A&amp;M Chess Store</title>
  <!-- Stylesheets -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet"> <!-- bootstrap -->
  <%= stylesheet_link_tag 'admin' %>
  <!-- Font -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <%= render 'partials/favicon' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

  <%= render partial: "partials/sidebar" %>  
  <%= render partial: "partials/page_specific_nav" %>

  <div id="page-content-wrapper">
    <%= yield %>
  </div>
</div>

<%= render :partial => "partials/search" %>
<%= render :partial => "partials/content_menu" %>

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> <!-- Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script> <!-- datatables dependant -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<%= yield :pgSpecificJS %>
<!-- Custom -->
<%= javascript_include_tag "application" %>

</body>

</html>
