<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>A&amp;M Chess Store: <%= controller.controller_name.capitalize %></title>
  <!-- Meta Data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  <meta name="description" content="Alex and Mark Chess Store Information Systems Application Design and Development">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'partials/favicon' %>
</head>

<body>

<!-- Side Heading -->
<div id="main-heading">
  <h1 class="right">A&amp;M Chess Store</h1>
</div>

<main>
  <%= render :partial => "partials/flash" %>
  <%= yield %>
</main>

<!-- Spotlight Search -->
<div id="search" class="hide">
  <span class="fa fa-search"></span><input id="searchInput" type="text" name="" placeholder="Search">
</div>

<!-- Navigation Circle -->
<div id="menu">
  <div class="menu-item">
    <br>
    <span>Home</span>
    <p><span class="fa fa-home fa-3x"></span></p>
  </div>
  <div class="menu-item">
    <br>
    <span>Dashboard</span>
    <p><span class="fa fa-tachometer fa-3x"></span></p>
  </div>
  <div class="menu-item">
    <br>
    <span>Prices</span>
    <p><span class="fa fa-dollar fa-3x"></span></p>
  </div>
  <div class="menu-item">
    <br>
    <span>Orders</span>
    <p><span class="fa fa-shopping-cart fa-3x"></span></p>
  </div>
  <div class="menu-item">
    <br>
    <span>Help</span>
    <p><span class="fa fa-question-circle fa-3x"></span></p>
  </div>
  <div class="menu-item">
    <br>
    <span>Schools</span>
    <p><span class="fa fa-graduation-cap fa-3x"></span></p>
  </div>
  <div class="menu-item">
    <br>
    <span>Users</span>
    <p><span class="fa fa-users fa-3x"></span></p>
  </div>
  <div class="menu-item">
    <br>
    <span>Items</span>
    <p><span class="fa fa-cubes fa-3x"></span></p>
  </div>
</div>

<!-- Custom Right Click Menu -->
<ul class='custom-menu'>
  <li data-action="first">Add Item</li>
  <li data-action="second">Edit Item</li>
  <li data-action="third">Delete Item</li>
</ul>
<!-- Javascript -->
<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<!-- Custom -->
<%= javascript_include_tag "application" %>
</body>
</html>
