<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>A&amp;M Chess Store: <%= controller.controller_name.capitalize %></title>
  <!-- Meta Data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  <meta name="description" content="Alex and Mark Chess Store Information Systems Application Design and Development">
  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= render 'partials/favicon' %>
</head>

<body>

<%= render :partial => "partials/modal" %>

<%= render :partial => "partials/flash" %>

<%= render :partial => "partials/cart" %>

<%= yield %>

<%= render :partial => "partials/search" %>

<%= render :partial => "partials/content_menu" %>

<div id="overlay"></div>
<!-- Javascript -->
<%= javascript_include_tag "application" %>
<!-- Custom -->
<script type="text/javascript">
function openNav() {
    document.getElementById("mySidenav").style.width = "550px";
    document.getElementById("overlay").style.backgroundColor = "rgba(0,0,0,0.4)";
    document.getElementById("overlay").style.zIndex = "9998";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("overlay").style.backgroundColor = "";
    document.getElementById("overlay").style.zIndex = "-10";
}
  document.getElementById("overlay").addEventListener("click", closeNav, false);
</script>
</body>
</html>
