<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>A&amp;M Chess Store: <%= controller.controller_name.capitalize %></title>
  <!-- Meta Data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  <meta name="description" content="Alex and Mark Chess Store Information Systems Application Design and Development">
  <!-- Bootstrap 4 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'partials/favicon' %>
</head>

<body>

<!-- Side Heading -->
<div id="main-heading">
<%= link_to(home_path) do %>
  <h1 class="right">A&amp;M Chess Store</h1>
<% end %>  
</div>

<%= render :partial => "partials/flash" %>

<main>
  <%= yield %>
</main>

<%= render :partial => "partials/search" %>

<%= render :partial => "partials/admin_navigation" %>

<!-- Custom Right Click Menu -->
<ul class='custom-menu'>
  <li><%= link_to "Item List", items_path %></li>
  <li><%= link_to "Purchases", purchases_path %></li>
  <li><%= link_to "Order List", orders_path %></li>
  <li><%= link_to "Employee List", employees_path %></li>
</ul>
<!-- Javascript -->
<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<!-- Custom -->
<%= javascript_include_tag "application" %>
</body>
</html>
